@page "/ManageLogs"

@if (_initialized)
{
    <div class="container d-flex justify-content-center align-items-center flex-column py-5 my-5">
        <TableComponent>
            <HeaderContent>
                @if (!_detailsFetched)
                {
                    <th>Seizure Activity Date</th>
                    <th>Amount</th>
                }
                else
                {
                    <th>Time</th>
                    <th>Type</th>
                    <th>Comments</th>
                }
            </HeaderContent>
            <BodyContent>
                @if (!_detailsFetched)
                {
                    foreach (var header in _seizureActivityHeaders)
                    {
                        <tr role="button" @onclick="() => GetActivityDetails(header.Id)">
                            <td>@header.Date</td>
                            <td>@header.DailyTotal</td>
                        </tr>
                    }
                }
                else
                {
                    foreach (var detail in _seizureActivityDetails)
                    {
                        <tr>
                            <td>@detail.SeizureTime</td>
                            <td>@detail.SeizureType</td>
                            <td>@detail.Comments</td>
                        </tr>
                    }
                }
            </BodyContent>
        </TableComponent>
    </div>
}
else
{
    <div class="d-flex align-items-center justify-content-center">
        <SpinnerComponent Color="@_loadingSpinnerColor"></SpinnerComponent>
    </div>
}

