@page "/"
@using System.Text.Json
@attribute [Authorize]
@inject StateContainer StateContainer
@inject ISeizureTrackerService SeizureTrackerService


<PageTitle>Seizure Log</PageTitle>
<div class="container flex py-5">
    <EditForm EditContext="@_editContext" class="row justify-content-center" OnValidSubmit="Submit"
              FormName="SeizureLog">
        <div class="col-md-3">
            <InputComponent InputType="@InputTypes.Input" InputDataType="@InputDataTypes.Text"
                            LabelText="@InputLabels.SeizureDescription"
                            Value="@Model!.SeizureDescription"
            />
        </div>
        <div class="col-md-3">
            <InputComponent InputType="@InputTypes.Input" InputDataType="@InputDataTypes.DateTime"
                            LabelText="@InputLabels.DateAndTime"
                            Value="@Model!.SeizureDate"/>
        </div>
        <div class="col-md-4 py-4">
            <InputComponent Value="@Model!.SeizureType" ValueChanged="OnSeizureTypeSelectChange"
                            SelectItems="@StateContainer.SeizureType"
                            OptionLabel="@OptionLabels.SeizureType"
                            InputType="@InputTypes.Select" LabelText="@AriaLabels.SeizureType"
            />
            @foreach (var type in _seizureTypesSelected)
            {
                <span class="badge rounded-pill text-bg-info align-items-center">@type<i
                        onclick="@(() => RemoveSeizureType(type))"
                        class="bi bi-x-circle-fill fs-6 ms-2"
                        role="button"></i></span>
            }
        </div>
        <div class="col-md-3">
            <InputComponent InputType="@InputTypes.Select" ValueChanged="OnSeizureIntensitySelectChange"
                            InputDataType="@InputDataTypes.Number"
                            LabelText="@InputLabels.Intensity"
                            SelectItems="Enumerable.Range(1, 10)
                                .Select(i => i.ToString())
                                .ToList()"
                            Value="@Model.SeizureIntensity" Placeholder="@PlaceholderLabels.Intensity"/>
        </div>
        <div class="col-md-3">
            <InputComponent InputType="@InputTypes.Input" InputDataType="@InputDataTypes.Number"
                            LabelText="@InputLabels.SleepAmount"
                            DecimalStep="0.1"
                            DecimalMin="0.0"
                            DecimalMax="24.0"
                            Value="@Model!.SleepAmount"/>
        </div>
        <div class="col-md-3">
            <InputComponent LabelText="@InputLabels.MedicationChange"
                            SelectItems="@StateContainer.MedicationChange"
                            InputType="@InputTypes.Select"
                            OptionLabel="@OptionLabels.MedChange"
                            Value="@Model!.MedicationChange"/>
            @foreach (var item in _medicationChangeSelectItems)
            {
                <option value="@item">@item</option>
            }
        </div>
        <div class="col-md-3">
            <InputComponent LabelText="@InputLabels.MedicationChangeDescription"
                            InputType="@InputTypes.Input"
                            InputDataType="@InputDataTypes.TextArea"
                            Value="@Model!.MedicationChangeDescription"/>
        </div>
        <div class="col-md-3">
            <InputComponent LabelText="@InputLabels.Notes"
                            InputType="@InputTypes.Input"
                            InputDataType="@InputDataTypes.TextArea"
                            Value="@Model!.Notes"/>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </EditForm>
</div>

@code
{
    private bool _showMultiSelect;
    private string _multiSelectText;
    private string _seizureTypeInput;
    private EditContext? _editContext;
    private ValidationMessageStore _messageStore;
    private List<string> _seizureTypesSelected;
    private List<string> _medicationChangeSelectItems = new List<string>() { "Yes", "No" };

    [Parameter] public EventCallback<string> OnInputCallback { get; set; }
    [SupplyParameterFromForm] private SeizureActivityLog? Model { get; set; }


    protected override void OnInitialized()
    {
        Model ??= new();
        StateContainer.EditContext = new(Model);
        _editContext = StateContainer.EditContext;
        _editContext.OnValidationRequested += HandleValidationRequested;
        _messageStore = new(_editContext);
        StateContainer.OnChange += StateHasChanged;
        _multiSelectText = UIConstants.MultiSelectShowText;
        _seizureTypesSelected = new();
        Model!.SleepAmount = "0.0";
    }

    protected override void OnParametersSet()
    {
    }

    protected override void OnAfterRender(bool firstRender)
    {
    }

    internal void HandleValidationRequested(object? sender, ValidationRequestedEventArgs args)
    {
        _messageStore?.Clear();

        // Custom validation logic
        // if (!Model!?.Options)
        // {
        //     _messageStore?.Add(() => Model.Options, "Select at least one.");
        // }
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }


    private async Task Submit()
    {
        try
        {
            var activityLog = new SeizureActivityLog
            {
                SeizureDescription = Model?.SeizureDescription,
                SeizureDate = Model?.SeizureDate,
                SeizureType = Model?.SeizureType,
                SleepAmount = Model?.SleepAmount,
                SeizureIntensity = Model?.SeizureIntensity,
                MedicationChange = Model?.MedicationChange,
                MedicationChangeDescription = Model?.MedicationChangeDescription,
                Notes = Model?.Notes
            };

            await SeizureTrackerService.AddSeizureActivityLog(JsonSerializer.Serialize(activityLog));
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);

            throw;
        }
    }

    private void OnSeizureTypeSelectChange(string value)
    {
        _seizureTypesSelected.Add(value);

        Model!.SeizureType = string.Join(",", _seizureTypesSelected);

        StateHasChanged();
    }

    private void OnSeizureIntensitySelectChange(string value)
    {
        Model!.SeizureIntensity = value;
    }

    private void RemoveSeizureType(string type)
    {
        var index = _seizureTypesSelected.IndexOf(type);

        _seizureTypesSelected.RemoveAt(index);

        StateHasChanged();
    }
}
